.page {
  /* position: relative; */
  width: 100%;
}

.page > main {
  padding-bottom: 6rem;
}

.layout {
  width: 100%;
  margin-bottom: 100px;
  padding: 10px;
  background-color: rgb(205, 179, 179);
  border-bottom: 1px solid rgb(156, 88, 88);
}

.signBtn {
  background-color: rgb(80, 80, 161);
  font-family: inherit;
  font-size: 0.9em;
  color: white;
  border: 0;
  border-radius: 0px;
  /* padding: 10px; */
  cursor: pointer;
  height: 50px;
  width: 100px;
}

.signBtn:hover {
  background-color: rgb(68, 68, 175);
}

.layoutFooter {
  margin-top: 35rem;
  /* position: absolute; */
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;

  background-color: rgb(205, 179, 179);
  border-bottom: 1px solid rgb(156, 88, 88);
}
