.roomHeader {
  /* height: 50px; */
  display: flex;
  padding-bottom: 2rem;
  justify-content: center;
  gap: 70%;
  width: 100%;
}




.roomHeader > button {
  height: 50px;
  width: 20%;
  font-family: inherit;
  font-size: larger;
  background-color: blue;
  color: white;
  border: 0;
  border-radius: 15px;
  margin-top: 20px;
}

.roomHeader > button:hover {
  background-color: rgb(72, 72, 235);
  cursor: pointer;
}

.roomList {
  width: 100%;
}
